.header {
    background-color: black;
    height: 100%;
    background-image: url();
    background-size: cover;

}



.topnav {
    overflow: hidden;
    background-color: #131212;
    margin-top: -9px;
    width: 100%;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-family: monospace;
    font-weight: bold;
    transition: 1s;

  }
  
  .topnav a:hover {
    background-color: #8eff59;
    color: black;
    transition: 1s;
    border-radius:  100px 100px 100px;
  }
  
  .topnav a.active {
    background-color: #24a91d;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav {
      margin-left: -6px;
    }
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  .right-lnk {
     float: right;
  }
  
  

  


/*dashboard*/

.h4_side {
  margin-left: 10px;
  font-size: 12px;
}
.btn_0 {
  position: fixed;
  right:  0;
  bottom: 0;
  color: white;
  text-align: center;
  width: 5%;
  margin: 10px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.984);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-right: 1px solid #71ef51;
  
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  font-size: 12px;

}

.sidenav a:hover {
  color: #7ded45;
  margin-left: 5px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}