

/*dashboard*/

.h4_side {
  margin-left: 10px;
  font-size: 12px;
  color: white;
}
.btn_0 {
  position: fixed;
  right:  0;
  bottom: 0;
  color: white;
  text-align: center;
  width: 10%;
  margin: 10px;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.978);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-right: 1px solid #71ef51;
  
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  font-size: 12px;

}

.sidenav a:hover {
  color: #7ded45;
  margin-left: 5px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

